# Dart-related files
.dart_tool/
.packages
build/
pubspec.lock

# Flutter plugin directories
.flutter-plugins
.flutter-plugins-dependencies

# Files and directories created by dartdoc
doc/api/

# dotenv environment variables file
.env*

# Generated JavaScript files
*.dart.js
*.info.json
*.js
*.js_
*.js.deps
*.js.map

# macOS specific files
.DS_Store
._*

# IDE files
*.iml
.idea/
.vscode/

# Other system files
Thumbs.db
desktop.ini

# Logs
*.log

# Temporary files and folders
*.swp
*~ 
.tmp/
